In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels
from dateutil.parser import parse
import os 

landing = r'D:\_workspace\tcc\CommodityPriceForecast\data\LandingZone\IMF'
raw = r'D:\_workspace\tcc\CommodityPriceForecast\data\RawZone'
file = 'Primary_Commodity_Price_System_PCPS-1.xlsx'

data_out = 'data'
md_out = 'metadata'

r_path = os.path.join(landing,file)

In [4]:
data = pd.read_excel(r_path, sheet_name=0) # Data Sheet
md = pd.read_excel(r_path,sheet_name=1) # Meta Data Sheet

In [5]:
data.T.head()

,0,1,2,3,4,5,6,7,8,9,10,11
Unnamed: 0,Aluminum,Cobalt,Copper,Iron Ore,Lead,Molybdenum,Nickel,Tin,Uranium,Zinc,NaN,Scale: Units
Unnamed: 1,US Dollars,US Dollars,US Dollars,US Dollars,US Dollars,US Dollars,US Dollars,US Dollars,US Dollars,US Dollars,NaN,NaN
Jan 1990,1528,7630,2365.56,14.05,707,NaN,7056,6592,9,1294,NaN,NaN
Feb 1990,1454,7660,2358.94,14.05,779,NaN,6977,6156.1,8.8,1394,NaN,NaN
Mar 1990,1567,8030,2625.7,14.05,1059,NaN,9267,6270.5,8.8,1666,NaN,NaN

In [6]:
md.T.head()

,0,1,2,3,4,5,6,7,8,9
Unnamed: 0,Aluminum,Cobalt,Copper,Iron Ore,Lead,Molybdenum,Nickel,Tin,Uranium,Zinc
Unnamed: 1,US Dollars,US Dollars,US Dollars,US Dollars,US Dollars,US Dollars,US Dollars,US Dollars,US Dollars,US Dollars
Jan 1990,"Aluminum, US Dollars: Aluminum, 99.5% minimum ...","Cobalt , US Dollars: Cobalt, U.S. cathodes, sp...","Copper , US Dollars: Copper, grade A cathode, ...","Iron Ore, US Dollars: China import Iron Ore Fi...","Lead , US Dollars: Lead, 99.97% pure, LME spot...","Molybdenum, US Dollars: Molybdenum, 57 to 63% ...","Nickel , US Dollars: Nickel, melting grade, LM...","Tin , US Dollars: Tin, standard grade, LME spo...","Uranium , US Dollars: Uranium, NUEXCO, Restric...","Zinc , US Dollars: Zinc, high grade 98% pure, ..."
Feb 1990,"Aluminum, US Dollars: Aluminum, 99.5% minimum ...","Cobalt , US Dollars: Cobalt, U.S. cathodes, sp...","Copper , US Dollars: Copper, grade A cathode, ...","Iron Ore, US Dollars: China import Iron Ore Fi...","Lead , US Dollars: Lead, 99.97% pure, LME spot...","Molybdenum, US Dollars: Molybdenum, 57 to 63% ...","Nickel , US Dollars: Nickel, melting grade, LM...","Tin , US Dollars: Tin, standard grade, LME spo...","Uranium , US Dollars: Uranium, NUEXCO, Restric...","Zinc , US Dollars: Zinc, high grade 98% pure, ..."
Mar 1990,"Aluminum, US Dollars: Aluminum, 99.5% minimum ...","Cobalt , US Dollars: Cobalt, U.S. cathodes, sp...","Copper , US Dollars: Copper, grade A cathode, ...","Iron Ore, US Dollars: China import Iron Ore Fi...","Lead , US Dollars: Lead, 99.97% pure, LME spot...","Molybdenum, US Dollars: Molybdenum, 57 to 63% ...","Nickel , US Dollars: Nickel, melting grade, LM...","Tin , US Dollars: Tin, standard grade, LME spo...","Uranium , US Dollars: Uranium, NUEXCO, Restric...","Zinc , US Dollars: Zinc, high grade 98% pure, ..."

In [36]:
#################
#Transpose Data
################

# transpose
df = data.T

headers = df.iloc[0]
df.columns = [str.lower(str(c)) for c in headers] 
df = df[df.columns[:-2]].iloc[2:]
df.reset_index(drop=False, inplace=True)
df = df.rename(columns={
    'index': 'month'
})
#df.set_index('month', inplace=True)
df.head()

,month,aluminum,cobalt,copper,iron ore,lead,molybdenum,nickel,tin,uranium,zinc
0,Jan 1990,1528,7630,2365.56,14.05,707,NaN,7056,6592,9,1294
1,Feb 1990,1454,7660,2358.94,14.05,779,NaN,6977,6156.1,8.8,1394
2,Mar 1990,1567,8030,2625.7,14.05,1059,NaN,9267,6270.5,8.8,1666
3,Apr 1990,1526,8230,2685.23,14.05,835,NaN,8939,6390.9,8.65,1686
4,May 1990,1527,8150,2740.34,14.05,825,NaN,8698,6324.6,9.35,1775

In [45]:
############################
#Extract Datetime Features
###########################

df['dt_ym'] = pd.to_datetime(df['month'])

df['dt_y'] = pd.DatetimeIndex(df['dt_ym']).year
df['dt_m'] = pd.DatetimeIndex(df['dt_ym']).month
df.head()

,month,aluminum,cobalt,copper,iron ore,lead,molybdenum,nickel,tin,uranium,zinc,dt_ym,dt_y,dt_m
0,Jan 1990,1528,7630,2365.56,14.05,707,NaN,7056,6592,9,1294,1990-01-01,1990,1
1,Feb 1990,1454,7660,2358.94,14.05,779,NaN,6977,6156.1,8.8,1394,1990-02-01,1990,2
2,Mar 1990,1567,8030,2625.7,14.05,1059,NaN,9267,6270.5,8.8,1666,1990-03-01,1990,3
3,Apr 1990,1526,8230,2685.23,14.05,835,NaN,8939,6390.9,8.65,1686,1990-04-01,1990,4
4,May 1990,1527,8150,2740.34,14.05,825,NaN,8698,6324.6,9.35,1775,1990-05-01,1990,5

In [111]:
######################
#Transpose Meta Data
######################

df_md = md.T

headers = df_md.iloc[0]
df_md.columns = [str.lower(str(c)) for c in headers] 
df_md = df_md[df_md.columns[:-2]].iloc[2:]
df_md.reset_index(drop=False, inplace=True)
df_md = df_md.rename(columns={
    'index': 'month'
})

#df_md['dt_ym'] = pd.to_datetime(df_md['month'])
#df_md.set_index(df_md.month, drop=True, inplace=True)
#df_md['dt_y'] = pd.DatetimeIndex(df_md['dt_ym']).year
#df_md['dt_m'] = pd.DatetimeIndex(df_md['dt_ym']).month

#df_md.drop(columns=['month'], inplace=True)

df_md.set_index('month', inplace=True)
df_md

,aluminum,cobalt,copper,iron ore,lead,molybdenum,nickel,tin
month,,,,,,,,
Jan 1990,"Aluminum, US Dollars: Aluminum, 99.5% minimum ...","Cobalt , US Dollars: Cobalt, U.S. cathodes, sp...","Copper , US Dollars: Copper, grade A cathode, ...","Iron Ore, US Dollars: China import Iron Ore Fi...","Lead , US Dollars: Lead, 99.97% pure, LME spot...","Molybdenum, US Dollars: Molybdenum, 57 to 63% ...","Nickel , US Dollars: Nickel, melting grade, LM...","Tin , US Dollars: Tin, standard grade, LME spo..."
Feb 1990,"Aluminum, US Dollars: Aluminum, 99.5% minimum ...","Cobalt , US Dollars: Cobalt, U.S. cathodes, sp...","Copper , US Dollars: Copper, grade A cathode, ...","Iron Ore, US Dollars: China import Iron Ore Fi...","Lead , US Dollars: Lead, 99.97% pure, LME spot...","Molybdenum, US Dollars: Molybdenum, 57 to 63% ...","Nickel , US Dollars: Nickel, melting grade, LM...","Tin , US Dollars: Tin, standard grade, LME spo..."
Mar 1990,"Aluminum, US Dollars: Aluminum, 99.5% minimum ...","Cobalt , US Dollars: Cobalt, U.S. cathodes, sp...","Copper , US Dollars: Copper, grade A cathode, ...","Iron Ore, US Dollars: China import Iron Ore Fi...","Lead , US Dollars: Lead, 99.97% pure, LME spot...","Molybdenum, US Dollars: Molybdenum, 57 to 63% ...","Nickel , US Dollars: Nickel, melting grade, LM...","Tin , US Dollars: Tin, standard grade, LME spo..."
Apr 1990,"Aluminum, US Dollars: Aluminum, 99.5% minimum ...","Cobalt , US Dollars: Cobalt, U.S. cathodes, sp...","Copper , US Dollars: Copper, grade A cathode, ...","Iron Ore, US Dollars: China import Iron Ore Fi...","Lead , US Dollars: Lead, 99.97% pure, LME spot...","Molybdenum, US Dollars: Molybdenum, 57 to 63% ...","Nickel , US Dollars: Nickel, melting grade, LM...","Tin , US Dollars: Tin, standard grade, LME spo..."
May 1990,"Aluminum, US Dollars: Aluminum, 99.5% minimum ...","Cobalt , US Dollars: Cobalt, U.S. cathodes, sp...","Copper , US Dollars: Copper, grade A cathode, ...","Iron Ore, US Dollars: China import Iron Ore Fi...","Lead , US Dollars: Lead, 99.97% pure, LME spot...","Molybdenum, US Dollars: Molybdenum, 57 to 63% ...","Nickel , US Dollars: Nickel, melting grade, LM...","Tin , US Dollars: Tin, standard grade, LME spo..."
...,...,...,...,...,...,...,...,...
Feb 2020,"Aluminum, US Dollars: Aluminum, 99.5% minimum ...","Cobalt , US Dollars: Cobalt, U.S. cathodes, sp...","Copper , US Dollars: Copper, grade A cathode, ...","Iron Ore, US Dollars: China import Iron Ore Fi...","Lead , US Dollars: Lead, 99.97% pure, LME spot...","Molybdenum, US Dollars: Molybdenum, 57 to 63% ...","Nickel , US Dollars: Nickel, melting grade, LM...","Tin , US Dollars: Tin, standard grade, LME spo..."
Mar 2020,"Aluminum, US Dollars: Aluminum, 99.5% minimum ...","Cobalt , US Dollars: Cobalt, U.S. cathodes, sp...","Copper , US Dollars: Copper, grade A cathode, ...","Iron Ore, US Dollars: China import Iron Ore Fi...","Lead , US Dollars: Lead, 99.97% pure, LME spot...","Molybdenum, US Dollars: Molybdenum, 57 to 63% ...","Nickel , US Dollars: Nickel, melting grade, LM...","Tin , US Dollars: Tin, standard grade, LME spo..."
Apr 2020,"Aluminum, US Dollars: Aluminum, 99.5% minimum ...","Cobalt , US Dollars: Cobalt, U.S. cathodes, sp...","Copper , US Dollars: Copper, grade A cathode, ...","Iron Ore, US Dollars: China import Iron Ore Fi...","Lead , US Dollars: Lead, 99.97% pure, LME spot...","Molybdenum, US Dollars: Molybdenum, 57 to 63% ...","Nickel , US Dollars: Nickel, melting grade, LM...","Tin , US Dollars: Tin, standard grade, LME spo..."
May 2020,"Aluminum, US Dollars: Aluminum, 99.5% minimum ...","Cobalt , US Dollars: Cobalt, U.S. cathodes, sp...","Copper , US Dollars: Copper, grade A cathode, ...","Iron Ore, US Dollars: China import Iron Ore Fi...","Lead , US Dollars: Lead, 99.97% pure, LME spot...","Molybdenum, US Dollars: Molybdenum, 57 to 63% ...","Nickel , US Dollars: Nickel, melting grade, LM...","Tin , US Dollars: Tin, standard grade, LME spo..."
Jun 2020,"Aluminum, US Dollars: Aluminum, 99.5% minimum ...","Cobalt , US Dollars: Cobalt, U.S. cathodes, sp...","Copper , US Dollars: Copper, grade A cathode, ...","Iron Ore, US Dollars: China import Iron Ore Fi...","Lead , US Dollars: Lead, 99.97% pure, LME spot...","Molybdenum, US Dollars: Molybdenum, 57 to 63% ...","Nickel , US Dollars: Nickel, melting grade, LM...","Tin , US Dollars: Tin, standard grade, LME spo..."

In [114]:
df_md = df_md.replace(to_replace='\n.*', value='',regex=True)

md_dict = {}

for c in df_md.columns:
    md_dict[c] = df_md[c].unique()

pd.DataFrame(md_dict)

,aluminum,cobalt,copper,iron ore,lead,molybdenum,nickel,tin
0,"Aluminum, US Dollars: Aluminum, 99.5% minimum ...","Cobalt , US Dollars: Cobalt, U.S. cathodes, spot","Copper , US Dollars: Copper, grade A cathode, ...","Iron Ore, US Dollars: China import Iron Ore Fi...","Lead , US Dollars: Lead, 99.97% pure, LME spot...","Molybdenum, US Dollars: Molybdenum, 57 to 63% ...","Nickel , US Dollars: Nickel, melting grade, LM...","Tin , US Dollars: Tin, standard grade, LME spo..."

In [121]:
# save to raw 

df.to_csv(os.path.join(raw,'IMF','data.csv'), index=False)

pd.DataFrame(md_dict).to_csv(os.path.join(raw,'IMF','masterdata.csv'))